@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

:root {
	--red: #c92027;
	--bg: #fff500;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "PT Sans";
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	display: flex;
	line-height: 1;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
	width: 800px;
	height: 460px;
	-webkit-font-smoothing: antialiased;
}

x-guys {
	display: flex;
	background: var(--bg);
	width: 800px;
	height: 260px;
	position: relative;
}

x-guys bg-1,
x-guys bg-2 {
	background-image: url(arrws.svg);
	background-position: top bottom;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	filter: hue-rotate(var(--rota));
}
x-guys bg-2 {
	right: 0;
	transform: scaleX(-1);
}

x-words {
	background: var(--bg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

x-words > img {
	height: 20%;
	padding: 0;
	filter: hue-rotate(var(--rota));
}

x-words > * {
	font-size: 2.8em;
	padding: 0 0.5em;
}
